{% extends 'talk/base.html.twig' %}

{% block content %}
    <p>Quelques unes des conférences que je redonnerais avec plaisir :</p>
    {% for talk in talks %}
        <div class="talk">
            <h3 class="title">{{ talk.title }}</h3>

            {% if talk.video %}
                <iframe class="view" width="640" height="360" src="https://www.youtube-nocookie.com/embed/{{ talk.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% else %}
                <iframe class="view" width="640" height="360" src="{{ talk.slides }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% endif %}

            <p class="links">
                <span class="format">{{ talk.duration }}'</span>
                <span class="date">{{ talk.date|date('Y') }}</span>
                <a class="slides" target="_blank" href="{{ talk.slides }}">slides</a>
                {% if talk.video %}
                    <a class="video" target="_blank" href="https://www.youtube.com/watch?v={{ talk.video }}">vidéo</a>
                {% endif %}
            </p>

            <p class="description">{{ talk.description }}</p>
        </div>
    {% endfor %}
    <hr>
    <div class="center">
        <p>À la recherche de conférences cools pour votre CFP ? 👀</p>
        <p>👉 Mon <a href="mailto:thomas.jarrand@gmail.com">mail</a> et mon <a href="https://twitter.com/tom32i">Twitter</a> 👋</p>
    </div>
{% endblock %}
