{% extends 'base.html.twig' %}

{% block meta_title 'Thomas Jarrand, Lead Développeur Web' %}
{% block twitter_card_type 'summary_large_image' %}
{% set meta_cover = absolute_url('cover.png') %}

{% block body_class 'portfolio' %}

{% block javascripts %}
    {% for file in encore_entry_js_files('portfolio') %}
        <script src="{{ asset(file) }}" async></script>
    {% endfor %}
{% endblock %}

{% block body %}
    {% include 'common/menu.html.twig' %}

    <header>
        <h1>Salut ! Moi c'est <span class="notice">Thomas</span>,</h1>
        <h2>Je code des deux cotés de la requête HTTP.</h2>
    </header>

    <div id="card" class="card fliped">
        <div class="recto">

        </div>
        <div class="verso">
            <div class="left">
                <div>
                    <p>Je suis <span class="notice">lead développeur web</span> à Lyon,<br><span class="note">c'est mon métier depuis déjà <span class="notice">10 ans</span></span>.</p>

                    <p>En ce moment, mes principaux outils sont <a class="notice" target="_blank" href="https://symfony.com">Symfony</a> et <a class="notice" target="_blank" href="https://fr.reactjs.org/">React</a>.<br> <span class="note">Je propose des solutions s'appuyant sur les standards du web.</span></p>

                    <p>J'aime <a href="{{ path('work') }}#games">expérimenter</a> dans le navigateur avec des jeux vidéo en temps réel comme <a class="notice" target="_blank" href="http://curvytron.com">Curvytron</a> et <a class="notice" target="_blank" href="https://whatthetune.com">What the tune?!</a></p>

                    <p>Je me déplace essentiellement à <span class="notice">vélo</span> et <span class="notice">longboard</span>.</p>

                    <p>Je partage mon savoir faire via des <a class="notice" href="{{ path('blog') }}">articles</a>, des <a class="notice" href="{{ path('work') }}#tools">outils open-source</a> et des <a class="notice" href="{{ path('work') }}#talks">conférences</a>.</p>

                    <p>J'apprends la photographie <a target="_blank" href="https://unsplash.com/tom32i">ici</a> et <a target="_blank" href="https://instagram.com/tom32i">là</a> (et même <a target="_blank" href="https://gameoscope.fr">là-bas</a>).</p>

                    <p>Pour discuter, c'est par <a href="mailto:thomas.jarrand@gmail.com">mail</a> et sur <a target="_blank" href="https://twitter.com/tom32i">Twitter</a>.</p>
                </div>
                <span class="copyright">
                    Créé avec enthousiame par Thomas Jarrand - © {{ 'now'|date('Y') }}
                </span>
            </div>
            <div class="right">
                <img class="stamp" src="{{ asset('/img/portrait.jpg') }}">
                <div class="links">
                    <a target="_blank" href="https://twitter.com/tom32i">
                        <span title="Twitter" class="icon-twitter"></span>
                        Twitter
                    </a>
                    <a target="_blank" href="https://instagram.com/tom32i">
                        <span title="Instagram" class="icon-instagram"></span>
                        Instagram
                    </a>
                    <a target="_blank" href="https://github.com/tom32i">
                        <span title="Github" class="icon-github"></span>
                        Github
                    </a>
                    <a href="mailto:thomas.jarrand@gmail.com">
                        <span title="Mail" class="icon-mail"></span>
                        Mail
                    </a>
                </div>
                <img class="stamp-mark" src="{{ asset('/img/stamp.svg') }}">
            </div>
        </div>
    </div>
{% endblock %}
