{% extends 'base.html.twig' %}

{% block body_class 'portfolio' %}

{% block body %}
    <header>
        <div class="container">
            <h1 class="title">
                <span>Thomas Jarrand</span>
                <small class="subtitle">Dévelopeur Web</small>
            </h1>
            <blockquote>Je code des deux coté de la requête HTTP.</blockquote>
        </div>
    </header>

    <section id="jeux">
        <div class="container">
            <h3>Jeux et expérimentations</h3>
            <div class="row">
                <a href="http://curvytron.com" target="_blank">
                    <img class="card" src="{{ asset('img/curvytron.png') }}">
                    <h5 class="card-title">Curvytron</h5>
                </a>
                <a href="http://whatthetune.com" target="_blank">
                    <img class="card" src="{{ asset('img/wtt.jpg') }}">
                    <h5 class="card-title">What the Tune ?!</h5>
                </a>
            </div>
        </div>
    </section>

    <section id="pro">
        <div class="container">
            <h3>Comment je travail</h3>

            <div class="row">
                <div>
                    <h4>Je m'investi</h4>
                    <p>J'ai besoin de comprendre le besoin : pour proposer aux utilisateurs et aux utilisatrices des solutions qui facilitent leur quotidien.</p>
                </div>

                <div>
                    <h4>Je vise la qualité</h4>
                    <p>Je m'appuie sur les standards et les bonnes pratiques. Mon code est découplé, efficace et utilisable par d'autres.</p>
                </div>

                <div>
                    <h4>J'aime apprendre</h4>
                    <p>Je suis avec interet les évolutions des technologies du web, j'expériemente et je m'adapte.</p>
                </div>
            </div>

            <h3>Mes outils</h3>

            <p>En ce moment, je suis particulierement efficace avec Symfony et React, mais je propose des solutions standards et low-tech dès que c'est pertinent.</p>
            <p>J'organise ma production de code autour du workflow git, notamment sur Github.</p>
            <p>Je sais provisionner mes serveurs avec Ansible et servir mes applications avec Nginx.</p>
        </div>
    </section>

    <section>
        <div class="container">
            <h3>Talks</h3>

            <p>Je partage régulierement sur des sujets qui me passionnent dans des évenement comme ceux de l'<strong>AFUP Lyon</strong>, <strong>Lyon JS</strong>, <strong>Human Talks</strong> et même à l'<strong>Apéro des designers</strong>.</p>

            <p>J'ai aussi eu la chance de monter sur la scène du <strong>Blend Web Mix 2017</strong> et du <strong>Forum PHP 2018</strong>.</p>

            <div>
                {% for talk in talks %}
                    <a class="card talk" target="_blank" href="{{ talk.slides }}">
                        <div class="head">
                            <h5>{{ talk.title }}</h5>
                            <span class="date">{{ talk.date|date('Y') }}</span>
                            <span class="format">{{ talk.duration }}"</span>
                        </div>
                        <p class="description">{{ talk.description }}</p>
                    </a>
                {% endfor %}
                {#<li>
                    <a class="card" href="https://talk.tom32i.fr/rando-velo/">
                        La randonnée à vélo - 2018 - 10"
                    </a>
                </li>
                <li>
                    <a class="card" href="https://talk.tom32i.fr/web-apis/">
                        API web insoupçonnées - 2018 - 10"
                        {# Petit tour d'horizon de quelques capacités de vos navigateurs dont vous ignoriez peut-être l'existence ! # }
                    </a>
                </li>
                <li>
                    <a class="card" href="https://talk.tom32i.fr/rando-velo/">
                        Voyage au centre du cerveau humain ou comment manipuler des données binaires en Javascript - 2018 - 50"
                        <iframe class="card" style="flex: inherit;" width="560" height="315" src="https://www.youtube-nocookie.com/embed/LuCXFhaRXcw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </a>
                </li>
                <li>
                    <a class="card" href="https://talk.tom32i.fr/emoji/#/">
                        Emoji - 2015 - 10"
                    </a>
                </li>#}
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <a href="{{ path('blog') }}">
                Blog
            </a>
        </div>
    </footer>
{% endblock %}
