{% extends 'blog/base.html.twig' %}

{% block content %}
    <article lang="{{ article.language }}">
        <header>
            <h1>{{ article.title }}</h1>
            {% block date %}
                <time class="icon-clock" datetime="{{ article.date|date('c') }}">
                    {{ article.date|date('d M Y') }}
                </time>
            {% endblock %}
        </header>
        <div class="article-content">
            {{ article.content|raw }}
        </div>
    </article>
{% endblock %}
