{% extends 'blog/base.html.twig' %}

{% block content %}
    {% for article in articles %}
        {% block preview %}
            <article class="article preview" lang="{{ article.language }}">
                {% block date %}
                    <time class="icon-clock" datetime="{{ article.date|date('c') }}">
                        {{ article.date|date('d M Y') }}
                    </time>
                {% endblock %}

                <a class="title" href="{{ path('blog_article', { slug: article.slug }) }}">
                    {{ article.title }}
                </a>

                {% if article.description is defined %}
                    <p class="description">{{ article.description }}</p>
                {% endif %}
            </article>
        {% endblock %}
    {% endfor %}
{% endblock %}
