{% extends 'blog/base.html.twig' %}

{% block content %}
    {% for article in articles %}
        {% block preview %}
            <article class="article preview">
                <header class="header">
                    <time datetime="{{ article.date|date('Y-m-d') }}">
                        {{ article.date|date('d M Y') }}
                    </time>
                    <a href="{{ path('blog_article', { slug: article.slug }) }}">
                        <h2 class="title">{{ article.title }}</h2>
                    </a>
                    {% if article.description is defined %}
                        <p class="description">{{ article.description }}</p>
                    {% endif %}
                </header>
            </article>
        {% endblock %}
    {% endfor %}
{% endblock %}
