{% extends 'blog/base.html.twig' %}

{% use 'blog/blocks.html.twig' %}

{% block content %}
    {% for article in articles %}
        {% block preview %}
            <article class="article preview" lang="{{ article.language }}">
                {{ block('date') }}

                <a class="title" href="{{ path('blog_article', { slug: article.slug }) }}">
                    {{ article.title }}
                </a>

                {% if article.description is defined %}
                    <p class="description">{{ article.description }}</p>
                {% endif %}
            </article>
        {% endblock %}
    {% endfor %}
{% endblock %}
