{% set menu = [
    { route: 'portfolio', label: 'À propos' },
    { route: 'blog', label: 'Articles' },
    { route: 'talk', label: 'Conférences' },
] %}

{% block navigation %}
<div class="menu-container">
    <a href="{{ path('portfolio') }}" class="brand {{ 'portfolio' is currentRoot ? 'active' : '' }}"></a>
    <nav class="menu">
        {% for item in menu %}
            {% set active =  item.route is currentRoot %}
            <a href="{{ path(item.route) }}" class="{{ active ? 'active' : '' }}">
                {{ item.label }}
            </a>
        {% endfor %}
    </nav>
</div>
{% endblock %}
