{% set menu = [
    { route: 'portfolio', label: 'À propos' },
    { route: 'work', label: 'Créations' },
    { route: 'blog', label: 'Blog' },
] %}

{% block navigation %}
<div class="menu-container">
    <a href="{{ path('portfolio') }}" class="brand {{ 'portfolio' is currentRoot ? 'active' : '' }}" title="À propos"></a>
    <nav class="menu">
        {% for item in menu %}
            {% set active =  item.route is currentRoot %}
            <a href="{{ path(item.route) }}" class="{{ active ? 'active' : '' }}">
                {{ item.label }}
            </a>
        {% endfor %}
        <a href="/CV_Thomas_Jarrand.pdf" class="outline" download="CV_Thomas_Jarrand.pdf">
            Mon CV
            <span class="icon-download"></span>
        </a>
    </nav>
</div>
{% endblock %}
