<!DOCTYPE html>
<html lang="{% block meta_locale app.request.locale %}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block meta_title 'Thomas Jarrand' %}</title>
        <meta name="title" content="{{ block('meta_title') }}">
        <meta name="description" content="{% block meta_description %}Lead Développeur web à Lyon. Je code des deux cotés de la requête HTTP.{% endblock %}">

        {% block social %}
            <!-- Open Graph / Facebook -->
            <meta property="og:type" content="{% block fb_og_type 'website' %}">
            <meta property="og:url" content="{{ app.request.uri }}">
            <meta property="og:title" content="{{ block('meta_title') }}">
            <meta property="og:description" content="{{ block('meta_description') }}">
            <meta property="og:local" content="{{ block('meta_locale') }}">
            {% if meta_cover|default(false) %}
            <meta property="og:image" content="{{ meta_cover }}">
            {% endif %}

            <!-- Twitter -->
            <meta property="twitter:card" content="{% block twitter_card_type 'summary' %}">
            <meta property="twitter:title" content="{{ block('meta_title') }}">
            <meta property="twitter:description" content="{{ block('meta_description') }}">
            <meta property="twitter:site" content="@tom32i">
            <meta property="twitter:creator" content="@tom32i">
            {% if meta_cover|default(false) %}
            <meta property="twitter:image" content="{{ meta_cover }}">
            {% endif %}

        {% endblock %}

        {% block icon %}
            <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
            <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
            <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
            <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
            <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
            <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
            <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
            <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
            <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
            <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
            <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
            <link rel="manifest" href="/manifest.json">
            <meta name="msapplication-TileColor" content="#ffffff">
            <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
            <meta name="theme-color" content="#ffffff">
        {% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
        {% endblock %}
        {% block analytics %}
            {% if google_analytics_token %}
                <!-- Global site tag (gtag.js) - Google Analytics -->
                <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_token }}"></script>
                <script>
                  window.dataLayer = window.dataLayer || [];
                  function gtag(){dataLayer.push(arguments);}
                  gtag('js', new Date());
                  gtag('config', '{{ google_analytics_token }}', { anonymize_ip: true });
                </script>
            {% endif %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body class="{% block body_class '' %}">
        {% block body %}{% endblock %}
    </body>
</html>
