{% extends 'blog/base.html.twig' %}

{% block header %}
    <header class="container header">
        <h1>Jeux vidéo et expérimentations</h1>
    </header>
{% endblock %}

{% block content_container %}
<section class="content container projects">
    {% block content %}
        <p>Interfaces utilisateurs dynamiques, génération de formes vectorielles avec SVG, communication client-serveur en temps réel en websocket, moteur de rendu en canvas, API Audio, impératif de performance : les jeux vidéo sont pour moi le terrain de jeu idéal pour expérimenter des technologies web et affuter mes compétences.</p>
        <p>Petite sélection de mes créations de ces dernières années :</p>

        {% for project in projects %}
            <div class="project">
                <h2 class="title">{{ project.title }}</h2>

                <p class="description">{{ project.description }}</p>

                <a target="_blank" href="{{ project.url }}">
                    <img src="{{ asset('./img/project/' ~ project.image) }}">
                </a>

                <p class="links">
                    <time class="date" datetime="{{ project.date|date('c') }}">{{ project.date|date('Y') }}</time>
                    <a class="url" target="_blank" href="{{ project.url }}">{{ project.siteName }}</a>
                </p>
            </div>
        {% endfor %}
    {% endblock %}
</section>
{% endblock %}

